body {
    font-family: 'Open Sans', sans-serif;
    background-color: #EEEEEE;
}

section {
    padding: 3px;
    text-align: center;
    background: linear-gradient(to bottom, #4CAF50 0%, #c4e082 100%);
    color: white;
    font-size: 25px;
}

main {
    font-size: 21px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

div {
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

img {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
    text-shadow: 0 0 3px #000000;
    color: #4CAF50;
    font-size: 40px;
}

footer {
    padding-bottom: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #c4e082 0%, #4CAF50 100%);
    color: white;
    font-size: 15px;
}

/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(63, 63, 63);
    color: #c4e082;
}

.active {
    background-color: #4CAF50;
}

.uvod {
    border-right: 1px solid #bbb;
}

/*navbar*/

/*navbar2*/
.navbar2 ul {
    border-radius: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar2 li {
    float: none;
}

.navbar2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar2 ul:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar2 li a:hover {
    background-color: rgb(63, 63, 63);
    color: #c4e082;
}

/*navbar2*/