body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEEEEE;
}

section {
  padding: 3px;
  text-align: center;
  background: linear-gradient(to bottom, #4CAF50 0%, #c4e082 100%);
  color: white;
  font-size: 25px;
}

main {
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  background-color: white;
}

footer {
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #c4e082 0%, #4CAF50 100%);
  color: white;
  font-size: 15px;
}

h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  text-align: center;
  color: white;
  background: #4CAF50;
  padding: 10px;
}

/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(63, 63, 63);
  color: #c4e082;
}

.active {
  background-color: #4CAF50;
}

.uvod {
  border-right: 1px solid #bbb;
}
/*navbar*/

/*galerie*/
div.gallery {
  margin: 10px;
  float: left;
  width: 310px;
}

div.gallery img {
  border: 2px solid #4CAF50;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

div.gallery img:hover {
  border: 2px solid #c4e082;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.desc {
  padding: 15px;
  text-align: center;
}
/*galerie*/

.clear {
  clear: both
}

/*responzivnost*/
@media only screen and (min-width: 320px) {
  div.gallery {
    width: 90%;
  }

  main {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  div.gallery {
    width: 46%;
  }

  main {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1024px) {
  div.gallery {
    width: 21%;
  }

  main {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 1440px) {
  div.gallery {
    width: 22%;
  }
}

@media only screen and (min-width: 1920px) {
  div.gallery {
    width: 310px;
  }
}
/*responzivnost*/