body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EEEEEE;
}

section {
  padding: 3px;
  text-align: center;
  background: linear-gradient(to bottom, #4CAF50 0%, #c4e082 100%);
  color: white;
  font-size: 25px;
}

main {
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;
  background-color: white;
}

h1 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  text-align: center;
  color: white;
  background: #4CAF50;
  padding: 10px;
}

footer {
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(to bottom, #c4e082 0%, #4CAF50 100%);
  color: white;
  font-size: 15px;
}

figcaption {
  text-align: center;
  padding: 10px 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(63, 63, 63);
  color: #c4e082;
}

.active {
  background-color: #4CAF50;
}

.uvod {
  border-right: 1px solid #bbb;
}

/*navbar*/