body {
  font-family: 'Open Sans', sans-serif;
  margin-left: 23%;
  margin-right: 23%;
}

header {
  text-align: center;
}

div {
  display: flex;
  align-items: center;
}

main {
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}

footer {
  text-align: center;
}

h2 {
  text-align: center;
}

figcaption {
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/*navbar*/